.title{
    margin: 0;
}

#admin{
    display: flex;
    justify-content: center;
    background-color: white;
    margin:60px;
    margin-right: 100px;
    margin-left: 100px;
    border: 2px solid black;
}

#admin > div{
    background-color: #f1f1f1;
    width: 300px;
    margin: 30px;
    text-align: center;
    border: 2px solid black;
}

.img-1{
    width: 100%;
    border: 1px solid black;
}

.ruang{
    margin:30px;
}

.caption{
    background-color: white;
    color: black;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}
