#login {
    margin: 10px 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu{
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 40%;
    border:2px solid black;
}
#head{
    background-color: #FFE55D;
    padding-left: 20px;
}
#isi{
    padding: 10px 30px 10px 20px;
    margin-bottom: 20px;
}

label{
    margin-bottom: 5px;
    margin-top: 5px;

}

.input-1{
    width: 100%;
    padding: 5px;
}

button{
    background-color: #FFE55D;
    border: 2px solid black;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
}

.session{
    background-color: rgba(71, 255, 99, 0.481);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 5px 5px 10px 10px;
    border:1px black solid;
}

.loginError{
    background-color: rgba(255, 71, 71, 0.481);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 5px 5px 10px 10px;
    border:1px black solid;
}

.invalid-feedback{
    color: red;
    margin-bottom: 8px;
}
